# 初学者向けPandas100本ノックver1.0.7（全回答&結果表示）
##### Shift + Enter で各セルのコードが実行されます
・print(ans[ 問題番号 ]) で回答コード例を表示  
・Python3エンジニア認定データ分析試験にも沿った問題内容   
・Pandasの各メソッドの説明は以下のサイトが分かりやすいです  
 　[note.nkmk.me](https://note.nkmk.me/pandas/)  
・"Data for Titanic passengers" from [VANDERBILT UNIVERSITY](https://biostat.app.vumc.org/wiki/Main/DataSets)  
  
**本コンテンツ作成時のpandasのバージョンは1.1.0**
  
作成日:2020年9月24日  
最終更新日:2023年1月16日  
再配布・改編不可  
作成者：[kunishou](https://qiita.com/kunishou)

In [10]:
# Shift + Enterで題材データ、回答コードを読み込んで下さい

import pandas as pd
import glob

#題材データをdfに読み込み(タイタニック号の乗客データ、テストの点数データ 等)
def initialize1():
    df = pd.read_csv('../input/titanic3.csv')
    return df

def initialize2():
    df = pd.read_csv('../input/data1.csv')
    return df

df = initialize1()
df2 = initialize2()
df3 = pd.read_csv('../input/data1_2.csv')
df4 = pd.read_csv('../input/data1_3.csv')
df5 = pd.read_csv('../input/data2.csv',encoding='cp932')

#回答コードをansリストに格納
path = sorted(glob.glob('../input/a_' + '*.txt'))

ans = []

for _ in range(len(path)):
    with open(path[_], 'r',encoding='utf-8') as f:
        ans.append(f.read())

[answer1]

df.head()


[tips]
.head()はデフォルトで先頭5行表示
()に表示したい行数を入れる
先頭10行表示は .head(10)

# Pandas基礎 (1 - 13)

In [3]:
# 【1】
# dfに読み込んだデータの最初の5行を表示
print(ans[1]) #回答表示
df = initialize1() #初期化

df.head()

[answer1]

df.head()


[tips]
.head()はデフォルトで先頭5行表示
()に表示したい行数を入れる
先頭10行表示は .head(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
# 【2】
# dfに読み込んだデータの最後の5行を表示
print(ans[2]) #回答表示
df = initialize1() #初期化

df.tail()

[answer2]

df.tail()


[tips]
.tail()はデフォルトで最後の5行表示
()に表示したい行数を入れる
最後10行表示は .tail(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [5]:
# 【3】
# dfのDataFrameサイズを確認
print(ans[3]) #回答表示
df = initialize1() #初期化

df.shape

[answer3]

df.shape

(1309, 14)

In [6]:
# 【4】
# inputフォルダ内のdata1.csvファイルを
# 読み込みdf2に格納して、最初の5行を表示
print(ans[4]) #回答表示

df2 = pd.read_csv('../input/data1.csv')
df2.head()

[answer4]

df2 = pd.read_csv('../input/data1.csv')
df2.head()


[Tips]
・csvの読み込みはread_csv
・必要に応じてencoding=''を指定する
utf-8
shift_jis (日本語)
cp932 (Windows拡張文字含む日本語)

ex)
df2 = pd.read_csv('../input/data1.csv',encoding='utf-8')

  name  class  English  Mathematics  History
0    A      1       80           55       65
1    B      1       55          100       83
2    C      2       65           70       95
3    D      1       40           63       70
4    E      2       76           82       79

In [7]:
# 【5】
# dfのfareの列で昇順に並び替えて表示
print(ans[5]) #回答表示
df = initialize1() #初期化
print(df)

df.sort_values('fare')

[answer5]

df.sort_values('fare')


[Tips]
・要素でソートするときはsort_valuesを使用
・デフォルトでは昇順
・降順でソートしたい場合は ascending=False を指定
・ソートする列を複数指定可能

ex)
降順でソート
df.sort_values('fare', ascending=False)

複数列でのソート
df.sort_values(['fare','age'])
      pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex    age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female  29.00      0      0   24160  211.3375       B5        S    2
1       male   0.92      1      2  113781  151.5500  C22 C26        S   11
2     female   2.00      1      2  113781  151.5500  C22 C26        S  NaN
3       male  30.00      1      2  113781  151.5500  C22 C26        S  NaN
4     female  25.00      1      2  113781  151.5500  C22 C26        S  NaN
...      ...    ...    ...    ...     ...       ...      ...      ...  ...
1304  female  14.50      1      0    2665   14.4542      NaN        C  NaN
1305  female    NaN      1      0    2665   14.4542      NaN        C  NaN
1306    male  26.50      0      0    2656    7.2250      NaN        C  NaN
1307    male  27.00      0      0    2670    7.2250      NaN        C  NaN
1308    male  29.00      0      0  315082    7.8750      NaN        S  NaN

       body                        home.dest
0       NaN                     St Louis, MO
1       NaN  Montreal, PQ / Chesterville, ON
2       NaN  Montreal, PQ / Chesterville, ON
3     135.0  Montreal, PQ / Chesterville, ON
4       NaN  Montreal, PQ / Chesterville, ON
...     ...                              ...
1304  328.0                              NaN
1305    NaN                              NaN
1306  304.0                              NaN
1307    NaN                              NaN
1308    NaN                              NaN

[1309 rows x 14 columns]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
363,2,0,"Campbell, Mr. William",male,NaN,0,0,239853,0.0000,NaN,S,NaN,NaN,Belfast
223,1,0,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0000,NaN,S,NaN,NaN,Belfast
170,1,1,"Ismay, Mr. Joseph Bruce",male,49.0,0,0,112058,0.0000,B52 B54 B56,S,C,NaN,Liverpool
1254,3,1,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0000,NaN,S,15,NaN,NaN
896,3,0,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0000,NaN,S,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,3,NaN,NaN
50,1,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0,1,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Germantown, Philadelphia, PA"
49,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Austria-Hungary / Germantown, Philadelphia, PA"
183,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,3,NaN,NaN
1225,3,0,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S,NaN,261.0,NaN

In [ ]:
# 【6】
# df_copyにdfをコピーして、最初の5行を表示
print(ans[6]) #回答表示
df = initialize1() #初期化

df_copy = df.copy()
df_copy.head()

In [ ]:
# 【7】
# ① dfの各列のデータ型を確認
# ② dfのcabinの列のデータ型を確認
print(ans[7]) #回答表示
df = initialize1() #初期化

print(df.dtypes)
print(df['cabin'].dtype)

In [1]:
# 【8】
# ① dfのpclassの列のデータ型をdtypeで確認
# ② 数値型から文字型に変換し、データ型をdtypeで確認
print(ans[8]) #回答表示
df = initialize1() #初期化

print(df['pclass'].dtype)
df['pclass'] = df['pclass'].astype(str)
print(df['pclass'].dtype)

NameError: name 'ans' is not defined

In [ ]:
# 【9】
# dfのレコード数(行数)を確認
print(ans[9]) #回答表示
df = initialize1() #初期化

len(df)

In [ ]:
# 【10】
# dfのレコード数(行数)、各列のデータ型、欠損値の有無を確認
print(ans[10]) #回答表示
df = initialize1() #初期化

df.info()

In [ ]:
# 【11】
# dfのsex,cabinの列の要素を確認
print(ans[11]) #回答表示
df = initialize1() #初期化

print(df['sex'].unique())
print(df['cabin'].unique())

In [ ]:
# 【12】
# dfの列名一覧をlist形式で表示
print(ans[12]) #回答表示
df = initialize1() #初期化

df.columns.tolist()

In [ ]:
# 【13】
# dfのインデックス一覧をndaaray形式で表示
print(ans[13]) #回答表示
df = initialize1() #初期化#

df.index.values

# データ抽出 (14 - 32)

In [ ]:
# 【14】
# dfのnameの列のみ表示
print(ans[14]) #回答表示
df = initialize1() #初期化

df['name']

In [ ]:
# 【15】
# dfのnameとsexの列のみ表示
print(ans[15]) #回答表示
df = initialize1() #初期化

df[['name','sex']]

In [ ]:
# 【16】
# dfのindex(行)の4行目までを表示
print(ans[16]) #回答表示
df = initialize1() #初期化

df[:4]

In [ ]:
# 【17】
# dfのindex(行)の4行目から10行目までを表示
print(ans[17]) #回答表示
df = initialize1() #初期化

df[3:10]

In [ ]:
# 【18】
# locを使ってdf全体を表示
print(ans[18]) #回答表示
df = initialize1() #初期化

df.loc[:,:]

In [ ]:
# 【19】
# locを使ってdfのfare列をすべて表示
print(ans[19]) #回答表示
df = initialize1() #初期化

df.loc[:,'fare']

In [ ]:
# 【20】
# locを使ってdfのfare列の10のラベルまで表示
print(ans[20]) #回答表示
df = initialize1() #初期化

df.loc[:10,'fare']

In [ ]:
# 【21】
# locを使ってdfのnameとticketの列をすべて表示
print(ans[21]) #回答表示
df = initialize1() #初期化

df.loc[:,['name','ticket']]

In [ ]:
# 【22】
# locを使ってdfのnameからcabinまでの列をすべて表示
print(ans[22]) #回答表示
df = initialize1() #初期化

df.loc[:,'name':'cabin']

In [ ]:
# 【23】
# ilocを使ってdfのage列を5行目まで表示
print(ans[23]) #回答表示
df = initialize1() #初期化

df.iloc[:5,4]

In [ ]:
# 【24】
# dfのname,age,sexの列のみ抽出しdf_copyに格納
# その後outputフォルダにcsvファイルで出力
# 出力ファイル名はsample.csv
print(ans[24]) #回答表示
df = initialize1() #初期化

df_copy = df[['name','age','sex']]
df_copy.to_csv('../output/sample.csv')

In [ ]:
# 【25】
# dfのage列の値が30以上のデータのみ抽出
print(ans[25]) #回答表示
df = initialize1() #初期化

df[df['age'] >= 30]

In [ ]:
# 【26】
# dfのsex列がfemaleのデータのみ抽出
print(ans[26]) #回答表示
df = initialize1() #初期化

df[df['sex'] == 'female']

In [ ]:
# 【27】
# dfのsex列がfemaleでかつageが40以上のデータのみ抽出
print(ans[27]) #回答表示
df = initialize1() #初期化

df[(df['sex'] == 'female' ) & (df['age'] >= 40)]

In [ ]:
# 【28】
# queryを用いてdfのsex列がfemaleでかつageが40以上のデータのみ抽出
print(ans[28]) #回答表示
df = initialize1() #初期化

df.query('sex == "female" & age >= 40 ')

In [ ]:
# 【29】
# dfのname列に文字列「Mrs」が含まれるデータを表示
print(ans[29]) #回答表示
df = initialize1() #初期化

df.query('name.str.contains("Mrs")', engine='python')

In [ ]:
# 【30】
# dfの中で文字列型の列のみを表示
print(ans[30]) #回答表示
df = initialize1() #初期化

df.select_dtypes(include='object')

In [ ]:
# 【31】
# dfの各列の要素数の確認
print(ans[31]) #回答表示
df = initialize1() #初期化

df.nunique()

In [ ]:
# 【32】
# dfのembarked列の要素と出現回数の確認
print(ans[32]) #回答表示
df = initialize1() #初期化

df['embarked'].value_counts()

# データ加工 (33 - 58)

In [ ]:
# 【33】
# dfのindex名が「3」のage列を
# 30から40に変更し、先頭の5行を表示
print(ans[33]) #回答表示
df = initialize1() #初期化

df.loc[3,'age'] = 40
df.head()

In [ ]:
# 【34】
# dfのsex列にてmale→0、femlae→1に
# 変更し、先頭の5行を表示
print(ans[34]) #回答表示
df = initialize1() #初期化

df['sex'][df['sex'] == 'male'] = 0
df['sex'][df['sex'] == 'female'] = 1
df.head()

In [ ]:
# 【35】
# dfのfare列に100を足して、
# 先頭の5行を表示
print(ans[35]) #回答表示
df = initialize1() #初期化

df['fare'] = df['fare'] + 100
df.head()

In [ ]:
# 【36】
# dfのfare列に2を掛けて、
# 先頭の5行を表示
print(ans[36]) #回答表示
df = initialize1() #初期化

df['fare'] = df['fare'] * 2
df.head()

In [ ]:
# 【37】
# dfのfare列を小数点以下で丸めて、先頭の5行を表示
print(ans[37]) #回答表示
df = initialize1() #初期化

df['fare'] = df['fare'].round()
df.head()

In [ ]:
# 【38】
# dfに列名「test」で値がすべて1の
# カラムを追加し、先頭の5行を表示
print(ans[38]) #回答表示
df = initialize1() #初期化

df['test'] = 1
df.head()

In [ ]:
# 【39】
# dfにcabinとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
print(ans[39]) #回答表示
df = initialize1() #初期化

df['test'] = df['cabin'].str.cat(df['embarked'],sep='_')
df.head()

In [ ]:
# 【40】
# dfにageとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
print(ans[40]) #回答表示
df = initialize1() #初期化

df['test'] = df['age'].astype(str).str.cat(df['embarked'],sep='_')
df.head()

In [ ]:
# 【41】
# dfからbodyの列を削除し、最初の5行を表示
print(ans[41]) #回答表示
df = initialize1() #初期化

df = df.drop('body',axis=1)
df.head()

In [ ]:
# 【42】
# dfからインデックス名「3」の行を削除し、最初の5行を表示
print(ans[42]) #回答表示
df = initialize1() #初期化

df = df.drop(3,axis=0)
df.head()

In [ ]:
# 【43】
# df2の列名を'name', 'class', 'Biology', 'Physics', 'Chemistry'に変更
# df2の最初の5行を表示
print(ans[43]) #回答表示
df2 = initialize2() #初期化

df2.columns = ['name', 'class', 'Biology', 'Physics', 'Chemistry']
df2.head()

In [ ]:
# 【44】
# df2の列名を'English'をBiology'に変更
# df2の最初の5行を表示
print(ans[44]) #回答表示
df2 = initialize2() #初期化

df2 = df2.rename(columns={'English' : 'Biology'})
df2.head()

In [ ]:
# 【45】
# df2のインデックス名「1」を「10」に変更
# df2の最初の5行を表示
print(ans[45]) #回答表示
df2 = initialize2() #初期化

df2 = df2.rename(index={1 : 10})
df2.head()

In [ ]:
# 【46】
# dfのすべての列の欠損値数を確認
print(ans[46]) #回答表示
df = initialize1() #初期化

df.isnull().sum()

In [ ]:
# 【47】
# dfのage列の欠損値に30を代入
# その後、ageの欠損値数を確認
print(ans[47]) #回答表示
df = initialize1() #初期化

df['age'] = df['age'].fillna(30)
df['age'].isnull().sum()

In [ ]:
# 【48】
# dfでひとつでも欠損値がある行を削除
# その後、dfの欠損値数を確認
print(ans[48]) #回答表示
df = initialize1() #初期化

df = df.dropna()
df.isnull().sum()

In [ ]:
# 【49】
# dfのsurvivedの列をndarray形式(配列)で表示
print(ans[49]) #回答表示
df = initialize1() #初期化

df['survived'].values

In [ ]:
# 【50】
# dfの行をシャッフルして表示
print(ans[50]) #回答表示
df = initialize1() #初期化

df.sample(frac=1)

In [ ]:
# 【51】
# dfの行をシャッフルし、インデックスを振り直して表示
print(ans[51]) #回答表示
df = initialize1() #初期化

df.sample(frac=1).reset_index()

In [ ]:
# 【52】
# ①df2の重複行数をカウント
# ②df2の重複行を削除し、df2を表示
print(ans[52]) #回答表示
df2 = initialize2() #初期化

print(df2.duplicated().value_counts())
df2 = df2.drop_duplicates()
df2

In [ ]:
# 【53】
# dfのnameの列をすべて大文字に変換し表示
print(ans[53]) #回答表示
df = initialize1() #初期化

df['name'].str.upper()

In [ ]:
# 【54】
# dfのnameの列をすべて小文字に変換し表示
print(ans[54]) #回答表示
df = initialize1() #初期化

df['name'].str.lower()

In [ ]:
# 【55】
# dfのsex列に含まれる「female」という単語を
# 「Python」に置換。その後、1行目の
# 「female」が「Python」に置き換わったことを確認
print(ans[55]) #回答表示
df = initialize1() #初期化

df['sex'] = df['sex'].replace('female','Python')
df.head()

In [ ]:
# 【56】
# dfのname列1行目の「Allen, Miss. Elisabeth Walton」の
# 「Elisabeth」を消去(import reをインポート)
print(ans[56]) #回答表示
df = initialize1() #初期化

import re
df['name'][0] = re.sub('Elisabeth','',df['name'][0])
df['name'][0]

In [ ]:
# 【57】
# df5の都道府県列と市区町村列を空白がないように
# 「_」で結合(新規列名は「test2」)し、先頭5行を表示
# ※df5の「test」列は通常通り結合した場合の結果
print(ans[57]) #回答表示

df5['test2'] = df5['都道府県'].str.rstrip() +'_'+ df5['市区町村']
df5.head()

In [ ]:
# 【58】
# df2の行と列を入れ替えて表示
print(ans[58]) #回答表示
df2 = initialize2() #初期化

df2 = df2.transpose()
df2

# マージと連結(59 - 65)

In [ ]:
# 【59】
# df2にdf3を左結合（結合キーはname）し、df2に格納
print(ans[59]) #回答表示
df2 = initialize2() #初期化

df2 = pd.merge(df2,df3,on='name',how='left')
df2

In [ ]:
# 【60】
# df2にdf3を右結合（結合キーはname）し、df2に格納
print(ans[60]) #回答表示
df2 = initialize2() #初期化

df2 = pd.merge(df2,df3,on='name',how='right')
df2

In [ ]:
# 【61】
# df2にdf3を内部結合（結合キーはname）し、df2に格納
print(ans[61]) #回答表示
df2 = initialize2() #初期化

df2 = pd.merge(df2,df3,on='name',how='inner')
df2

In [ ]:
# 【62】
# df2にdf3を外部結合し、df2に格納
print(ans[62]) #回答表示
df2 = initialize2() #初期化

df2 = pd.merge(df2,df3,on='name',how='outer')
df2

In [ ]:
# 【63】
# df2とdf4を列方向に連結し、df2に格納
print(ans[63]) #回答表示
df2 = initialize2() #初期化

df2 = pd.concat([df2,df4],axis=1)
df2

In [ ]:
# 【64】
# df2とdf4を列方向に連結後、重複している
# name列の片方を削除し、df2に格納
print(ans[64]) #回答表示
df2 = initialize2() #初期化

df2 = pd.concat([df2,df4],axis=1)
df2 = df2.loc[:,~df2.columns.duplicated()]
df2

In [ ]:
# 【65】
# df2とdf4を行方向に連結し、df2に格納
print(ans[65]) #回答表示
df2 = initialize2() #初期化

df2 = pd.concat([df2,df4],axis=0)
df2

# 統計 (66 - 79)

In [ ]:
# 【66】
# dfのage列の平均値を確認
print(ans[66]) #回答表示
df = initialize1() #初期化

df['age'].mean()

In [ ]:
# 【67】
# dfのage列の中央値を確認
print(ans[67]) #回答表示
df = initialize1() #初期化

df['age'].median()

In [ ]:
# 【68】
# ①df2の生徒ごとの合計点（行方向の合計）
# ②df2の科目ごとの点数の総和（列方向の合計）
print(ans[68]) #回答表示
df2 = initialize2() #初期化

df2 = df2.drop(['class'],axis=1)
print(df2.sum(axis=1)) #行方向の合計
print(df2.sum()) #列方向の合計

In [ ]:
# 【69】
# df2のEnglishで得点の最大値
print(ans[69]) #回答表示
df2 = initialize2() #初期化

df2['English'].max()

In [ ]:
# 【70】
# df2のEnglishで得点の最小値
print(ans[70]) #回答表示
df2 = initialize2() #初期化

df2['English'].min()

In [ ]:
# 【71】
# df2においてclassでグルーピングし、クラスごとの科目の
# 最大値、最小値、平均値を求める(name列は削除しておく)
print(ans[71]) #回答表示
df2 = initialize2() #初期化

df2 =df2.drop('name',axis=1)
print(df2.groupby('class').max())
print(df2.groupby('class').min())
print(df2.groupby('class').mean())

In [ ]:
# 【72】
# dfの基本統計量を確認(describe)
print(ans[72]) #回答表示
df = initialize1() #初期化

df.describe()

In [ ]:
# 【73】
# dfの各列間の(Pearson)相関係数を確認
print(ans[73]) #回答表示
df = initialize1() #初期化

df.corr()

In [ ]:
# 【74】
# scikit-learnを用いてdf2のEnglish、Mathematics、History列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)
print(ans[74]) #回答表示
df2 = initialize2() #初期化

from sklearn.preprocessing import StandardScaler

df2 = df2.drop(['name','class'],axis=1) #不要列の削除

#標準化を定義
scaler = StandardScaler()
scaler.fit(df2)

#変換とデータフレームへの置換
scaler.transform(df2) # 変換のみ
df2_std = pd.DataFrame(scaler.transform(df2), columns=df2.columns) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #stdが等しくなっていることを確認

In [ ]:
# 【75】
# scikit-learnを用いてdf2のEnglish列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)
print(ans[75]) #回答表示
df2 = initialize2() #初期化

from sklearn.preprocessing import StandardScaler

#標準化を定義
scaler = StandardScaler()
scaler.fit(df2['English'].values.reshape(-1,1))

#変換とデータフレームへの置換
scaler.transform(df2['English'].values.reshape(-1,1)) # 変換のみ
df2_std = pd.DataFrame(scaler.transform(df2['English'].values.reshape(-1,1))) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #stdが【74】のEnglishと等しくなっていることを確認

In [ ]:
# 【76】
# scikit-learnを用いてdf2のEnglish、Mathematics、History列を
# Min-Maxスケーリングする
# (from sklearn.preprocessing import MinMaxScalerをインポート)
print(ans[76]) #回答表示
df2 = initialize2() #初期化

from sklearn.preprocessing import MinMaxScaler

df2 = df2.drop(['name','class'],axis=1) #不要列の削除

# Min-Maxスケーリングを定義
scaler = MinMaxScaler()
scaler.fit(df2)

# 変換とデータフレームへの置換
scaler.transform(df2) # 変換のみ
df2_std = pd.DataFrame(scaler.transform(df2), columns=df2.columns) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #minが0、maxが1になっていることを確認

In [ ]:
# 【77】
# dfのfare列の最大値、最小値の行名を取得
print(ans[77]) #回答表示
df = initialize1() #初期化

print(df['fare'].idxmax())
print(df['fare'].idxmin())

In [ ]:
# 【78】
# dfのfare列の0、25、50、75、100パーセンタイルを取得
print(ans[78]) #回答表示
df = initialize1() #初期化

print(df['fare'].quantile([0, 0.25, 0.5, 0.75, 1.0]))

In [ ]:
# 【79】
# ①dfのage列の最頻値を取得
# ②value_counts()にてage列の要素数を
# 確認し、①の結果の妥当性を確認
print(ans[79]) #回答表示
df = initialize1() #初期化

print(df['age'].mode())
print(df['age'].value_counts())

# ラベリング (80 - 81)

In [ ]:
# 【80】
# dfのsex列をラベルエンコーディングし、
# dfの先頭5行を表示
# (from sklearn.preprocessing import LabelEncoderをインポート)
print(ans[80]) #回答表示
df = initialize1() #初期化

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成

df['sex'] = le.fit_transform(df['sex']) #エンコーディング
df.head()

In [ ]:
# 【81】
# dfのsex列をOne-hotエンコーディングし、
# dfの先頭5行を表示
print(ans[81]) #回答表示
df = initialize1() #初期化

df = pd.get_dummies(df, columns=['sex'])
df.head()

# Pandasプロット (82 - 89)
Pandasプロットの機能については以下のサイトの説明が分かりやすいです  
[自調自考の旅](https://own-search-and-study.xyz/2016/08/03/pandas%E3%81%AEplot%E3%81%AE%E5%85%A8%E5%BC%95%E6%95%B0%E3%82%92%E4%BD%BF%E3%81%84%E3%81%93%E3%81%AA%E3%81%99/)

In [ ]:
# 【82】
# dfのすべての数値列のヒストグラムを表示
print(ans[82]) #回答表示
df = initialize1() #初期化

df.hist(figsize=(20,20), color='b')

In [ ]:
# 【83】
# dfのage列をヒストグラムで表示
print(ans[83]) #回答表示
df = initialize1() #初期化

df['age'].plot(kind='hist')

In [ ]:
# 【84】
# df2のname列の要素ごとの3科目合計得点を棒グラフで表示
print(ans[84]) #回答表示
df2 = initialize2() #初期化

df2['sum'] = df2.iloc[:,2:5].sum(axis=1) #3科目合計の列を作成
df2[['name','sum']].plot(kind='bar',x=df2.columns[0])

In [ ]:
# 【85】
# df2のname列の要素ごとの3科目を棒グラフで
# 並べて表示
print(ans[85]) #回答表示
df2 = initialize2() #初期化

df2[['name','English','Mathematics','History']].plot(kind='bar',figsize=(10,4),x=df2.columns[0])

In [ ]:
# 【86】
# df2のname列の要素ごとの3科目を積み上げ棒グラフで表示
print(ans[86]) #回答表示
df2 = initialize2() #初期化

df2[['name','English','Mathematics','History']].plot(kind='bar',figsize=(10,4),
                                                    x=df2.columns[0],stacked=True)

In [ ]:
# 【87】
# dfの各列間の散布図を表示
# (from pandas.plotting import scatter_matrixをインポート)
print(ans[87]) #回答表示
df = initialize1() #初期化

%matplotlib inline
from pandas.plotting import scatter_matrix

_ = scatter_matrix(df,figsize=(20,20))

In [ ]:
# 【88】
# dfのage列とfare列で散布図を作成
print(ans[88]) #回答表示
df = initialize1() #初期化

df.plot(kind='scatter',x='age',y='fare',figsize=(8,6))

In [ ]:
# 【89】
# 【88】で描画したグラフに「age-fare scatter」という
# グラフタイトルをつける
print(ans[89]) #回答表示
df = initialize1() #初期化

df.plot(kind='scatter',x='age',y='fare',figsize=(8,6),title='age-fare scatter')

# タイタニック号の生存者予測 (90 - 100)  
これまで触れてきたタイタニック号の乗客データを使用して、乗客の生存有無を  
予測してみます。  
  
※90～100については順番通りにやらないと上手く動作しません

In [ ]:
# 【90】ラベルエンコーディング
# df_copyのsexとembarked列をラベルエンコーディング
# (from sklearn.preprocessing import LabelEncoderをインポート)
# (df_copyはdfをコピーしたもの)
print(ans[90]) #回答表示
df_copy =df.copy()

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成

df_copy['sex'] = le.fit_transform(df_copy['sex']) #エンコーディング
df_copy['embarked'] = le.fit_transform(df_copy['embarked'].astype(str))  #ここ、なぜかstrに変換しないとエラー発生
df_copy.head()

In [ ]:
# 【91】欠損値確認
# df_copyの欠損値を確認
print(ans[91]) #回答表示

df_copy.isnull().sum()

In [ ]:
# 【92】欠損値補完
# df_copyのage、fare列の欠損値を各列の平均値で補完
print(ans[92]) #回答表示

df_copy['age'] = df_copy['age'].fillna(df_copy['age'].mean()) #欠損値にageの平均値で補完
df_copy['fare'] = df_copy['fare'].fillna(df_copy['fare'].mean()) #欠損値にfareの平均値で補完
print(df_copy.isnull().sum())

In [ ]:
# 【93】不要列の削除
# df_copyの中で機械学習で使用しない不要な行を削除
# (name, ticket, cabin, boat, body, home.destを削除)
print(ans[93]) #回答表示

df_copy = df_copy.drop(['name', 'ticket', 'cabin', 'boat', 'body', 'home.dest'],axis=1)
df_copy

In [ ]:
# 【94】ndarray形式への変換
# ①df_copyのpclass、age、sex、fare、embarkedの列を抽出し、ndarray形式に変換
# ②df_copyのsurvivedの列を抽出し、ndarray形式に変換
# (①をfeatures、②をtargetという変数にそれぞれ格納)
print(ans[94]) #回答表示

features = df_copy[['pclass','age','sex','fare','embarked']].values
target = df_copy['survived'].values

In [ ]:
# 【95】学習データとテストデータに分割
# 【94】で作成したfeatrues、targetを学習データとテストデータに分割
# (from sklearn.model_selection import  train_test_splitをインポート)
# ※分割時のパラメータは次を指定 test_size=0.3 random_state=0
print(ans[95]) #回答表示

from sklearn.model_selection import train_test_split

(features , test_X , target , test_y) = train_test_split(features, target , test_size = 0.3 , random_state = 0)

In [ ]:
# 【96】学習の実行
# 学習データ(features、target)を用いランダムフォレストにて学習を実行
# (from sklearn.ensemble import RandomForestClassifierをインポート)
# ※パラメータは次を指定 n_estimators=100 random_state=0
print(ans[96]) #回答表示

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100,random_state=0) # ランダムフォレストのインスタンスを作成

model.fit(features,target) # 学習の実行

In [ ]:
# 【97】予測の実行
# test_Xデータの乗客の生存を予測
print(ans[97]) #回答表示

pred = model.predict(test_X)

In [ ]:
# 【98】予測精度の確認
# 予測結果がtest_y(生存有無の答え)とどれぐらい
# 整合していたかを確認(評価指標はaccuracy)
# (from sklearn.metrics import accuracy_scoreをインポート)
print(ans[98]) #回答表示

from sklearn.metrics import accuracy_score

accuracy_score(pred,test_y)

In [ ]:
# 【99】重要度の確認
# 学習における各列(特徴量)の
# 重要度を表示
print(ans[99]) #回答表示

importance = model.feature_importances_ 

print('Feature Importances:')
for i, feat in enumerate(['pclass','age','sex','fare','embarked']):
    print('\t{0:20s} : {1:>.5f}'.format(feat, importance[i]))

In [ ]:
# 【100】予測結果のcsv出力
# test_Xの予測結果をcsvでoutputフォルダに出力(ファイル名は「submission.csv」)
# (headerは不要)
print(ans[100]) #回答表示

df_pred = pd.DataFrame(pred)
df_pred.to_csv('../output/submission.csv',header=None)

# ノックお疲れ様でした
各セルのoutput表示をすべてクリアにしたい場合は、ツールバーの  
「Kernel」→「Restart & Clear Output」を実行して下さい。